/*
	Name: Smashing HTML5
	Date: July 2009
	Description: Sample layout for HTML5 and CSS3 goodness.
	Version: 1.0
	License: MIT <http://opensource.org/licenses/MIT>
	Licensed by: Smashing Media GmbH <http://www.smashingmagazine.com/>
	Original author: Enrique Ramírez <http://enrique-ramirez.com/>
*/

/* Imports */
@import url("reset.css");
@import url("pygment.css");
@import url("typogrify.css");

/***** Global *****/
/* Body */
body {
    background: #F5F4EF;
    color: #000305;
    font-size: 87.5%; /* Base font size: 14px */
    font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.429;
    margin: 0 20px 0 170px;
    padding: 0;
    text-align: left;
}

/* Headings */
h1 {font-size: 2em }
h2 {font-size: 1.571em}	/* 22px */
h3 {font-size: 1.429em}	/* 20px */
h4 {font-size: 1.286em}	/* 18px */
h5 {font-size: 1.143em}	/* 16px */
h6 {font-size: 1em}		/* 14px */

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: .8em;
    font-family: arial, sans-serif;
}

h3, h4, h5, h6 { margin-top: .8em; }

hr { border: 2px solid #EEEEEE; }

/* Anchors */
a {outline: 0;}
a img {border: 0px; text-decoration: none;}
a:link, a:visited {
    color: #C74350;
    padding: 0 1px;
    text-decoration: underline;
}
a:hover, a:active {
    background-color: #C74350;
    color: #fff;
    text-decoration: none;
    text-shadow: 1px 1px 1px #333;
}

h1 a:hover {
    background-color: inherit
}

/* Paragraphs */
div.line-block,
p { margin-top: 1em;
    margin-bottom: 1em;}

strong, b {font-weight: bold;}
em, i {font-style: italic;}

/* Lists */
ul {
	list-style: outside disc;
	margin: 0em 0 0 1.5em;
}

ol {
	list-style: outside decimal;
	margin: 0em 0 0 1.5em;
}

li { margin-top: 0.5em;}

.post-info {
    float:right;
    margin:10px;
    padding:5px;
}

.post-info p{
    margin-top: 1px;
    margin-bottom: 1px;
}

.readmore { float: right }

dl {margin: 0 0 1.5em 0;}
dt {font-weight: bold;}
dd {margin-left: 1.5em;}

pre {
    background-color: rgb(238, 238, 238);
    padding: 10px;
    margin: 10px;
    overflow: auto;
}

/* Quotes */
blockquote {
    margin: 20px;
    font-style: italic;
}
cite {}

q {}

div.note {
   float: right;
   margin: 5px;
   font-size: 85%;
   max-width: 300px;
}

/* Tables */
table {margin: .5em auto 1.5em auto; width: 98%;}

	/* Thead */
	thead th {padding: .5em .4em; text-align: left;}
	thead td {}

	/* Tbody */
	tbody td {padding: .5em .4em;}
	tbody th {}

	tbody .alt td {}
	tbody .alt th {}

	/* Tfoot */
	tfoot th {}
	tfoot td {}

/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
	display: block;
}

/***** Layout *****/
.body {clear: both; margin: 0 auto; }

/*
	Header
*****************/
#banner {
	margin: 0 auto;
	padding: 2.5em 0 0 0;
}

	/* Banner */
	#banner h1 {font-size: 3.571em; line-height: 0;}
	#banner h1 a:link, #banner h1 a:visited {
		color: #000305;
		display: block;
		font-weight: bold;
		margin: 0 0 .6em .2em;
		text-decoration: none;
	}
	#banner h1 a:hover, #banner h1 a:active {
		background: none;
		color: #C74350;
		text-shadow: none;
	}

	#banner h1 strong {font-size: 0.36em; font-weight: normal;}

	/* Main Nav */
	#banner nav {
		background: #000305;
		font-size: 1.143em;
		height: 40px;
		line-height: 30px;
		margin: 0 auto 2em auto;
		padding: 0;
		text-align: center;
		width: 800px;

		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}

	#banner nav ul {list-style: none; margin: 0 auto; width: 800px;}
	#banner nav li {float: left; display: inline; margin: 0;}

	#banner nav a:link, #banner nav a:visited {
		color: #fff;
		display: inline-block;
		height: 30px;
		padding: 5px 1.5em;
		text-decoration: none;
	}
	#banner nav a:hover, #banner nav a:active,
	#banner nav .active a:link, #banner nav .active a:visited {
		background: #C74451;
		color: #fff;
		text-shadow: none !important;
	}

	#banner nav li:first-child a {
		border-top-left-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-webkit-border-top-left-radius: 5px;

		border-bottom-left-radius: 5px;
		-moz-border-radius-bottomleft: 5px;
		-webkit-border-bottom-left-radius: 5px;
	}

/* tabs */
        ul.tabs{
	    margin: 0px;
	    padding: 0px;
	    list-style: none;
	}
	ul.tabs li{
	    background: none;
	    color: #222;
	    display: inline-block;
	    padding: 10px 15px;
	    cursor: pointer;
	}
        ul.tabs li.current{
	    background: #ededed;
	    color: #222;
	}

	.tab-content{
	    display: none;
	    background: #ededed;
	    padding: 15px;
	}

	.tab-content.current{
	    display: inherit;
	}

/* map */

.map-canvas {
    height: 700px;
    margin: 0px;
    padding: 0px;
}
.map-container {
    background: #ededed;
    padding-bottom: 15px;
    spacing: 0px;
    margin: 0px;
}
button.map-buttons {
    background: #ededed;
    border: none;
    color: #222;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    opacity: 0.6;
}
button.map-buttons.current{
    background: #ededed;
    color: #222;
    opacity: 1.0;
}

/*
	Featured
*****************/
#featured {
	background: #fff;
	overflow: hidden;
	padding: 20px;

	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#featured figure {
	border: 2px solid #eee;
	float: right;
	margin: 0.786em 2em 0 5em;
	width: 248px;
}
#featured figure img {display: block; float: right;}

#featured h2 {color: #C74451; font-size: 1.714em; margin-bottom: 0.333em;}
#featured h3 {font-size: 1.429em; margin-bottom: .5em;}

#featured h3 a:link, #featured h3 a:visited {color: #000305; text-decoration: none;}
#featured h3 a:hover, #featured h3 a:active {color: #fff;}

/*
	Body
*****************/
#content {
	background: #fff;
	margin-bottom: 2em;
	overflow: hidden;
	padding: 20px 20px;
	width: 760px;

	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

/*
	Footer
*****************/
#contentinfo {padding-bottom: 2em; text-align: right;}

/* table of contents */
#toc {
    top: 0px;
    left: 0px;
    height: 100%;
    position: fixed;
    background: #333;
    box-shadow: inset -5px 0 5px 0px #000;
    width: 150px;
    padding-top: 20px;
    color: #fff;
}

#toc ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#toc li {
    padding: 5px 10px;
}

#toc a {
    color: #fff;
    text-decoration: none;
    display: block;
}

#toc .toc-h2 {
    padding-left: 10px;
}

#toc .toc-h3 {
    padding-left: 20px;
}

#toc .toc-active {
    background: #336699;
    box-shadow: inset -5px 0px 10px -5px #000;
}

/* positioning */

.ct-chart.left,.ct-chart-container.left {
    width: 70%;
    float: left;
}

.ct-chart.right,.ct-chart-container.right {
    width: 70%;
    margin-left: 30%;
}

div.left {
    width: 30%;
    float: left;
}

div.right {
    width: 30%;
    margin-left: 70%;
}

.section,.section-a,.section-b {
    clear: both;
    padding: 2em;
    overflow: hidden;
}

.section-a {
    background: #ededed;
}

/* graphs and charts */

.ct-chart {
    margin-left: 20px;
}

svg.ct-chart-pie g text.ct-label {
    fill: #fff;
    font-weight: bold;
}

.ct-label.ct-horizontal, .ct-label.ct-vertical {
    color: #333;
}

#yearly-bar-chart .ct-series-b {
    opacity: 0.6;
}

.legend {
    border: 2px solid #333;
    padding: 1em;
}
.legend div {
    padding: .5em;
    margin: .5em 0 .5em 0;
}
.legend .ct-series-a {
    background: #d70206;
    color: #fff;
}
.legend .ct-series-b {
    background: #f05b4f;
    color: #fff;
}
.legend .ct-series-c {
    background: #f4c63d;
    color: #333;
}
.legend .ct-series-d {
    background: #d17905;
    color: #fff;
}
.legend .ct-series-e {
    background: #453d3f;
    color: #fff;
}

.legend {
    width: 15%;
    margin-left: 80%;
}

.has-legend {
    width: 80%;
    float: left;
}
