beautifulsoup4==4.6.0
lxml==4.0.0
requests==2.21.0
pdfminer.six==20181108
six==1.10.0
termcolor==1.1.0
jinja2==2.10.1
geocoder==1.38.1
astral==1.4
pytz
numpy==1.12.0
PyYAML==5.1
unicodecsv==0.14.1
backports.shutil_get_terminal_size==1.0.0
yapf==0.16.3
prospector==1.1.6.2
mccabe==0.6.1
textblob==0.15.0
